@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


:root {
  --brand-red: #E20008;
  --font-open-sans: 'Open Sans', sans-serif;
}

body {
  @apply bg-white text-gray-900;
  /* font-family: "Roboto",system-ui, sans-serif; */
}

.font-sans {
  font-family: var(--font-open-sans);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}

.animate-fadeUp {
  animation: fadeUp 0.3s ease forwards;
}

@keyframes shrinkUp {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(-20px);
  }
}

@keyframes growDown {
  0% {
    transform: scale(1) translateY(-20px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.animate-shrinkUp {
  animation: shrinkUp 0.3s ease forwards;
}

.animate-growDown {
  animation: growDown 0.3s ease forwards;
}

@keyframes slideDownFadeIn {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 300px; /* or enough to contain menu */
    opacity: 1;
  }
}

@keyframes slideUpFadeOut {
  0% {
    max-height: 300px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.animate-slideDownFadeIn {
  animation: slideDownFadeIn 0.3s ease forwards;
  overflow: hidden;
}

.animate-slideUpFadeOut {
  animation: slideUpFadeOut 0.3s ease forwards;
  overflow: hidden;
}
